DJANGO_SECRET_KEY=change-moi
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# Laisser vide pour utiliser SQLite (dev rapide)
MYSQL_DB=
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Liens affiches dans Swagger
PROJECT_PORTFOLIO_URL=https://votre-portfolio.com
PROJECT_DOCUMENTATION_URL=https://votre-site.com/documentation.pdf
